:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%, 1);
  --white: hsl(0, 0%, 100%);
  --font-size: 0.875rem;
  --font-bold: 700;
  --font-normal: 500;
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Fraunces", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
}

.container__main {
  width: 21.438rem;
  height: 38.188rem;
  background-color: var(--white);
  border-radius: 0.625rem;
}

.container__product__image img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
}

.container__product__description {
  padding: 1.5rem;
}

.product__type {
  font-family: var(--primary-font-family);
  font-weight: var(--font-normal);
  font-size: 0.75rem;
  line-height: 0.914rem;
  letter-spacing: 0.313rem;
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
}
.product__title {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-family: var(--secondary-font-family);
  font-weight: var(--font-bold);
  font-size: 2rem;
  line-height: 2rem;
}

.product__description {
  margin-bottom: 1.5rem;
  font-family: var(--primary-font-family);
  font-weight: var(--font-normal);
  font-size: 0.875rem;
  line-height: 1.438rem;
  color: var(--dark-grayish-blue);
}

.container__price {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}
.product__current__price {
  font-family: var(--secondary-font-family);
  font-weight: var(--font-bold);
  font-size: 2rem;
  color: var(--dark-cyan);
}
.product__discount {
  margin-left: 1.188rem;
  font-family: var(--primary-font-family);
  font-weight: var(--font-normal);
  font-size: 0.813rem;
  line-height: 1.438rem;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}
.cart__button {
  width: 18.438rem;
  height: 3rem;
  border-radius: 0.5rem;
  border-style: solid;
  border: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__button img {
  margin-right: 0.726rem;
}
.cart__button p {
  font-family: var(--primary-font-family);
  font-weight: var(--font-bold);
  font-size: 0.875rem;
}

@media screen and (min-width: 600px) {
  .container__main {
    width: 37.5rem;
    height: 28.125rem;
    display: flex;
  }
  .container__product__description {
    padding: 2rem;
  }
  .product__title {
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
  }
  .product__description {
    margin-bottom: 1.813rem;
  }
  .container__product__image {
    width: 18.75rem;
    height: 28.125rem;
  }
  .container__product__image img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem 0 0 0.625rem;
  }
  .container__product__description {
    width: 18.75rem;
  }
  .container__price {
    margin-bottom: 1.875rem;
  }
  .cart__button {
    width: 14.75rem;
  }
}
